body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #99ffff33;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}

header.header {
    width: 100%;
    height: 100px;
    background-color: #1aa7a7;
    border-bottom: 5px solid #71f7f7;
       
}

header.header div.face {
    float: left;
    padding:0;
    margin-top: 13px;
    margin-left: 13px;
    height: 74px;
    display: flex;
    align-items: center;
    
    
}

header.header div.face img {
    
    height: 70px;
    width: auto;
    border-radius: 20%;
    border: 2px solid white;
    
}

header.header div.face h1 {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    color: #ffffff;
    
}

header.header div.contact {
    float: right;
    /* background: yellow; */
    display: flex;
    padding: 0;
    height: 100px;
    
    
}

header.header div.contact a img {
    height: 30px;
    width: auto;
    /* background: red; */
    margin: 35px 15px;
}


/* +++++++++++++++++++header-navigation+++++++++++++++++++ */
/* +++++++++++++++++++header-navigation+++++++++++++++++++ */
/* +++++++++++++++++++header-navigation+++++++++++++++++++ */
/* +++++++++++++++++++header-navigation+++++++++++++++++++ */
/* +++++++++++++++++++header-navigation+++++++++++++++++++ */
/* +++++++++++++++++++header-navigation+++++++++++++++++++ */
/* +++++++++++++++++++header-navigation+++++++++++++++++++ */

header.header nav.navigation {
    background-color: #71f7f7;
    margin-bottom: 100px;
    
}


header.header nav.navigation ul {
    font-size: 0;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

header.header nav.navigation ul li {
    display: inline-block;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    margin: 15px;
}  


header.header nav.navigation ul li a{
    text-decoration: none;
    
}